main {
  color: orange;
  background-color: #e8e8e8;
}

.usertype-admindashboard {
  background-color: orangered;
  color: #fff;
  border-radius: 10px;
  padding: 3px;
}

.main .card {
  padding: 1.5rem;
  transition: transform 0.3s ease;
  cursor: pointer;
  background-color: orange;
  color: #fff;
  border-color: #fff;
  border-width: 1.5px;
}

.profile-card.card {
  background-color: #e8e8e8;
  border-radius: 30px;
  border: none;
}

.admin-dashboard-social-icons a {
  color: orange;
  font-size: 20px;
}
.admin-dashboard-social-icons a:hover {
  color: orangered;
}

.see-more-btn {
  text-decoration: none;
  background-color: orange;
  border-radius: 5px;
  padding: 3px;
  color: #fff;
}

.see-more-btn:hover {
  color: #fff;
  background-color: rgb(233, 152, 2);
}

.see-less-btn {
  text-decoration: none;
  background-color: orange;
  border-radius: 5px;
  padding: 3px;
  color: #fff;
  cursor: pointer;
  float: right;
}
.see-less-btn:hover {
  color: #fff;
  background-color: rgb(233, 152, 2);
}

.logout-button {
  background-color: orange;
  color: #fff;
  border: none;
}
.logout-button:hover {
  background-color: orangered;
}

.search-button {
  text-decoration: none;
  background-color: orange;
  border-radius: 3px;
  padding: 6px;
  color: #fff;
}

.search-button:hover {
  color: #fff;
  cursor: pointer;
}
