html {
  background-color: #e8e8e8;
}

.first-div {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.dashboard-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  padding: 2rem;
  width: 50%;
}

.dash-header {
  display: flex;

  justify-content: center;
  background-color: #fe4880;
  /* background-color: rgb(7, 33, 51); */
  /* background-image: linear-gradient(
    to right,
    #ffce00 50%,
    #ffce00 50%,
    #fe4880
  ); */
  color: #fff;
  font-weight: 400;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  box-shadow: -2px 1px 10px 1px rgb(163, 163, 163);
}

.table-container {
  display: flex;
  justify-content: center;
  background-color: #fff44f;
  /* background-image: linear-gradient(
    to right,
    #ffce00 50%,
    #ffce00 50%,
    #fe4880
  ); */
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  box-shadow: -2px 1px 10px 1px rgb(163, 163, 163);
}

th,
td {
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

.table-head {
  background-color: #fe4880;
  color: #ffffff;
  border-radius: 10px;
}

.table-body {
  background-color: rgb(255, 255, 255);
}

.dash-add {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* background-image: linear-gradient(
    to right,
    #ffce00 50%,
    #ffce00 50%,
    #fe4880
  ); */
  background-color: #fff44f;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  box-shadow: -2px 1px 10px 1px rgb(163, 163, 163);
}

.remove {
  background-color: rgb(255, 90, 14);
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 3px;
  border-color: rgb(255, 2, 2);
  font-size: 1rem;
}

.update {
  background-color: orange;
  color: #000000;
  padding: 5px;
  border-radius: 3px;
  border-color: orange;
  margin-left: 5px;
  font-size: 1rem;
}
